<div th:fragment="admin_header">
    <header class="p-3 text-bg-dark">
        <!--page header-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="page-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="rootLink" th:href="@{home}"> Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="searchLink" th:href="@{search}"> Поиск </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="racesListLink" th:href="@{races}"> Рейсы </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="clientsListLink" th:href="@{clients}"> Клиенты </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ticketsListLink" th:href="@{tickets}"> Купленные билеты </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="exitLink" href="/exit"> Выход </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--end of page header-->
    </header>
</div>