<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>clientsPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<header th:insert="~{header :: header}"></header>

<div class="indent">
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Фамилия </th>
            <th scope="col"> Имя </th>
            <th scope="col"> Отчество </th>
            <th scope="col"> Страна </th>
            <th scope="col"> Билеты </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${clients.isEmpty()}">
            <td colspan="6"> В базе пока нет ни одного человека. </td>
        </tr>
        <tr th:each="client : ${clients}">
            <td>
                <a th:href="'/client?clientId=' + ${client.getId()}">
                    <span th:text="${client.getId()}"> </span>
                </a>
            </td>
            <td>
                <span th:text="${client.getName()}"> </span>
            </td>
            <td>
                <span th:text="${client.getSurname()}"> </span>
            </td>
            <td>
                <span th:text="${client.getPatronymic()}"> </span>
            </td>
            <td>
                <span th:text="${client.getCountry()}"> </span>
            </td>
            <td>
                <select class="form-control select-checkbox" id="WhatToUpdate" multiple="multiple">
                    <th:block th:each="ticket : ${clientService.getTicketsByClientId(client.getId())}">
                        <option th:text="${ticket.getId()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>