<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>errorPage</title>
</head>
<body>
<p align="center" th:text="${message}"> Произошла какая-то ошибка! </p>
</body>
</html>