<div th:fragment="header">
    <div th:switch="${role}">
        <div th:case="'admin'">
            <header th:insert="~{admin_header ::  admin_header}"></header>
            <div align="center"> Вы вошли как администратор! </div>
        </div>
        <div th:case="'client'">
            <header th:insert="~{client_header ::  client_header}"></header>
            <div align="center" th:text="${'Добро пожаловать, ' + client.getName()}"></div>
        </div>
        <div th:case="'user'">
            <header th:insert="~{user_header ::  user_header}"></header>
            <div align="center"> Вы не зарегистрированы! </div>
        </div>
        <div th:case="'*'">
            ERROR
        </div>
    </div>
</div>