<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>orderPage</title>
    <style>
        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
            width: 60%;
            align-content : start;
        }

        input[type=text] {
            width: 80%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: #4CAF50;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

        .btn:hover {
            background-color: #45a049;
        }

        span.price {
            float: right;
            color: grey;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
        @media (max-width: 800px) {
            .row {
                flex-direction: column-reverse;
            }
            .col-25 {
                margin-bottom: 20px;
            }
        }
    </style>
</head>

<div class="row" align="center">
    <div class="col-75">
        <div class="container">
            <form action="/buyTicket" method="post">
                <div class="row">
                    <div class="col-50">
                        <h3>Ticket Info</h3>
                        <b><div align="center" th:text="${currentRace.getStationFrom() + ' - ' + currentRace.getSationTo() + ';  стоимость: ' + currentRace.getCosts(currentRace.getStationFrom(), currentRace.getSationTo())}"></div></b>
                        <!--<input required type="number" id = "placeNumber" name="placeNumber" placeholder="Номер места">-->
                        <label for="placeNumber">Место:</label><select name="placeNumber" class="form-control select-checkbox" id="placeNumber" multiple="multiple">
                                <option th:each="freePlace : ${freePlaces}" th:text="   ${freePlace}   ">
                        </select>
                    </div>

                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <input type="hidden" id="raceId" name="raceId" th:value="${currentRace.getId()}">
                        <input type="hidden" id="stationFrom" name="stationFrom" th:value="${currentRace.getStationFrom()}">
                        <input type="hidden" id="stationTo" name="stationTo" th:value="${currentRace.getSationTo()}">
                        <input type="hidden" id="costs" name="costs" th:value="${currentRace.getCosts(currentRace.getStationFrom(), currentRace.getSationTo())}">
                        <input type="hidden" id="clientId" name="clientId" th:value="${client.getId()}">
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <input type="text" id="cname" name="cardname" placeholder="IVAN IVANOV">
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111 2222 3333 4444">
                        <input type="text" id="expdate" name="expdate" placeholder="MONTH/YEAR">

                        <div class="row">
                            <div class="col-50">
                                <input type="text" id="cvv" name="cvv" placeholder="CVV">
                            </div>
                        </div>
                    </div>


                </div>
                <input type="submit" value="Оформить" id="pay" class="btn">
            </form>
        </div>
    </div>
</div>