<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>racesPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:switch="${role}">
    <div th:case="'admin'">
        <header th:insert="~{admin_header ::  admin_header}"></header>
    </div>
    <div th:case="'client'">
        <header th:insert="~{client_header ::  client_header}"></header>
    </div>
    <div th:case="'user'">
        <header th:insert="~{user_header ::  user_header}"></header>
    </div>
</div>

<div class="indent">
    <br>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Номер рейса </th>
            <th scope="col"> Откуда </th>
            <th scope="col"> Отправление </th>
            <th scope="col"> Куда </th>
            <th scope="col"> Прибытие </th>
            <th scope="col"> Количество билетов </th>
            <th scope="col"> Стоимость </th>
            <th scope="col"> Промежуточные остановки </th>
            <th th:if="${role == 'admin'}" scope="col"> Удалить </th>
            <th th:unless="${role == 'admin'}" scope="col"> Купить </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${races.isEmpty()}">
            <td colspan="9"> Ненайден не один рейс </td>
        </tr>
        <tr th:each="race,stat : ${races}">
            <td>
                <a th:href="'/race?raceId=' + ${race.getId()}">
                    <span th:text="${race.getRaceNumber()}"> </span>
                </a>
            </td>
            <td th:text="${race.getStationFrom()}"/>
            <td th:text="${race.getDateFrom()}"/>
            <td th:text="${race.getSationTo()}"/>
            <td th:text="${race.getDateTo()}"/>
            <td th:text="${race.getSeatsNumber()}"/>
            <td th:text="${race.getSummaryCost()}"/>
            <td>
                <select class="form-control select-checkbox" id="WhatToUpdate" multiple="multiple">
                    <th:block th:each="station : ${race.getInternalStations()}">
                        <option th:each="text : ${station}" th:value="${text}" th:text="${text}" />
                    </th:block>
                </select>
            </td>
            <td>
                <div th:if="${role == 'admin'}">
                    <form method="post" action="/admin/removeRace">
                        <input type="hidden" name="raceId" th:value="${race.getId()}"/>
                        <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить</button>
                    </form>
                </div>
                <div th:unless="${role == 'admin'}">
                    <form method="get" action="/order">
                        <input type="hidden" name="raceId" th:value="${race.getId()}">
                        <!--<input type="hidden" name="raceId" th:value="${race.getId()}"/>-->
                        <button id="buyButton" type="submit" class="btn btn-secondary">Купить</button>
                    </form>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <div th:if="${role == 'admin'}">
        <form method="get" action="addRace">
            <button id="addRaceButton" type="submit" class="btn btn-primary">Добавить рейс</button>
        </form>
    </div>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>