<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ticketsPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<header th:insert="~{header :: header}"></header>

<div class="indent">
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Откуда </th>
            <th scope="col"> Куда </th>
            <th scope="col"> № места </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tickets.isEmpty()}">
            <td colspan="4"> Пока не были куплены билеты. </td>
        </tr>
        <tr th:each="ticket : ${tickets}">
            <td>
                <a th:href="'/ticket?ticketId=' + ${ticket.getId()}">
                    <span th:text="${ticket.getId()}"> </span>
                </a>
            </td>
            <td>
                <span th:text="${ticket.getStationFrom()}"> </span>
            </td>
            <td>
                <span th:text="${ticket.getStationTo()}"> </span>
            </td>
            <td>
                <span th:text="${ticket.getPlaceNumber()}"> </span>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>