<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user_header">
    <header class="p-3 text-bg-dark">
        <!--page header-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="page-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="rootLink" th:ref="@{home}">Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="searchLink" th:href="@{search}">Поиск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="racesListLink" th:href="@{races}">Рейсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="registrationLink" th:href="@{registration}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="entryLink" th:href="@{entry}">Вход</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--end of page header-->
    </header>
</div>

